
.company-name{
  font-size: 72px;
  font-family:  Tahoma;
  font-weight: bold;
}
.below-company-name{
    height: 4px;
    background-color: #333;
}
.company-mantra{
  word-spacing: 50px;
  font-size: 20px;
  font-family:  Tahoma;
}
.editor-pick{
  font-size: 50px;
  color: #db4a37;
  font-weight: bold;

}
.below-editor-pick{
    height: 2px;
    background-color: #333;
}
.footer-company-name{
  /*text-decoration: underline;*/
  font-family:  Tahoma;
}
.hero-content-body p{
}
.below{

}
#inner-message{
	display:none;
}
.hero-content img{
   max-height: 400px;

}
#mainPostImage{
  margin: auto;
  max-width: 600px;
}

.similar-readings img{
  max-width: 250px;
  max-height: 250px;
}
.space-bottom-20{
  margin-bottom:20px;
}
.thumbnail-img{
	margin-top:0!important;
  width:100%;
  height:100px !important;
}
.posttile{
	height:auto;
	padding:0;
}
.reduce-padding-right{
  padding-right: 10px;
}
.hide-extra-content{
  overflow: hidden;
}
#top-blog img{
  max-height: 400px;
  margin: auto;
}

.reduce-margin-bottom{
  margin-bottom: 0px!important;
}

.logo-image{
  height: 50px;
}
.no-padding{
  padding: 0px!important;
}
.arial-font{
  font-family: Tahoma;
  font-size: 17px;
  font-weight: bold;
}
.white{
  color: white;
}
.comic-font{
  font-family: Tahoma;
}
.nav-icon-image{
  height: 25px;
}
.share-bar a{
	padding:0 0 0 0;
}

.share-icon-image{
  height: 45px !important;
}
.signup-section .upper-form{
	margin-top:4px;
  background-color: #fec200;
  padding: 20px;
  /*margin-top: 60px;*/
}
.signup-section .upper-form h3{
  font-weight: bold;
  font-size:25px;
}
.signup-section .close{
	position:absolute;
	top:13px;
	right:10px;
	z-index:2;
}
.signup-section{
	padding:0;
	margin-bottom:0;
}
.signup-section .upper-form .inyourmailbox{
		margin-top:15px;
		font-size:22px;
		margin-bottom:10px;
}
.feedtales-section{
  border:1px dashed grey;
  background: #331c00;
  padding: 0px 0px 9px 0px;
}
.feedtales-section .feedtales-info{
	font-family:Tahoma;
	color:#FFF;
	font-size:20px;
	padding:0;
	margin:7px 0px 7px 0px;
	/*text-transform: uppercase;*/
}
.feedtales-section .btn{
  background-color: #fec200;
  color: black;
  font-family:Tahoma;
  width:80%;
  font-size:20px;
}
.g_add{
	margin-top:2px;
	border:1px solid black;
	height:250px;
	width:300px;
}
.floating-share{
  position:fixed;
  z-index:100;
  width:10px;
  top: 260px;
  left:0px;
}
.floating-share > div{
  /*margin: auto;
  text-align: center;*/
}
.floating-share img{
    /*display: inline-block;
    margin: auto;
    z-index: 100;*/
	height:35px;
}
/*#message {
    position: fixed;
    top: 100px;
    right: 0px;
    z-index: 999;
}
#inner-message {
    margin: 0 auto;
}*/
#suggestedPosts div{
  /*z-index: -1;*/
}
body { padding-top: 70px; }
.navbar li { color: #000 }
@media screen and (min-width: 1200px) {
  .main-outer-container{
    /*border:2px solid #333;*/
    margin-left:50px;
    margin-right:50px;
    /*margin-top:50px;*/
    /*max-width: 1347px;*/
  }
}

@media screen and (max-width: 450px){
	.signup-section .upper-form h3{
		font-size:18px;
	}
	.feedtales-section .feedtales-info{
		font-size:18px;
	}
	.signup-section .upper-form .inyourmailbox{
		font-size:20px;
	}
	.carousel-caption h3{
		font-size:15px;
	}
	.carousel-inner .item img{
		height: 150px !important;
		max-height: 150px !important;
	}
	.bannerandcarousel{
		padding:0;
	}
	.bottomdiv_postpage{
		padding-bottom:40px;
	}
	.posttile{
		height:auto;
	}

}
.date-style{
      font-size: 12px;
    color: #726a6a;
}
.banner{
	width:100%;
}
.img-responsive{
	margin-top:10px;
	width:100%;
}

.social-links{
	margin-top:20px;
}
.social-links .sl{
	margin-left:2px;
}

.feedme-button{
	background-color:#331c00;
	color:white;
}
.feedme-button:hover{
	cursor:pointer;
}
#postBody{
	margin-top:20px;
	margin-bottom:20px;

}
.mainPostContent{
  word-wrap:break-word;
}

.fb-like span,iframe{
	width:300px !important;
}
#postBody,#postTitle { word-wrap: break-word; }

.carousel-inner .item img{
	width:100%;
	height: 250px;
	max-height: 250px;
	/*filter: blur(1px);*/
}
.carousel-caption {
	width:45%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px;
	/*opacity:0.9;
    background: #FFF;*/
	border-radius:2px;
	height:40%;
    background: rgba(0, 0, 0, 0.5);
}
.carousel-caption h3 {
    margin-bottom: 0;
	color:#FFF !important;
	/*opacity:1;*/
}

#postBody iframe{

}
